.add-playlist-modal {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .5);
    z-index: 6;
    display: flex;
    align-items: center;
    justify-content: center;

    .add-modal {
        width: 330px;
        background-color: #34224F;
        border-radius: 8px;
        color: #fff;
        padding: 20px;

        .playlist-modal-form {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}

.modal-bg {
    background-color: #34224F;
    color: #fff;
}