$breakpoint-tablet: 768px;
$background-basic: #483285;


// offcanvas
$bg-color-231B2E: #231B2E;

$bg-color-2F2739: #2F2739;
$bg-color-34224F: #34224F;

$bg-color-3A3344: #3A3344;

$icon-color: #5C5765;
