@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");

.artists-container {
    position: relative;
    margin-top: 25px;
    width: 100%;

    .btn-scroll {
        position: absolute;
        display: flex;
        justify-content: space-between;
        width: 70px;
        top: 6px;
        right: 0;

        .scroll-icon {
            font-size: 20px;
            width: 30px;
            text-align: center;
            height: 30px;
            cursor: pointer;

            &:hover {
                background-color: #3A3344;
                border-radius: 50%;
            }
        }
    }

    .artists {
        display: flex;
        width: 100%;
        overflow-x: auto;
        scroll-behavior: smooth;
        margin-top: 20px;

        .artist {
            padding: 10px 10px 0;
            margin: 0 5px;
            text-align: center;
            width: 130px;
            display: flex;
            flex-direction: column;
            border-radius: 10px;
            transition: background-color .3s;
            cursor: pointer;

            img {
                border-radius: 50%;
            }

            .artist-name {
                color: #CFCFD0;
                margin-top: 5px;
            }

            &:hover {
                background-color: #3A3344;
            }
        }

        &::-webkit-scrollbar {
            display: none;
        }
    }
}