.nav-top-container {
    margin-left: 240px;
    height: 70px;
    position: fixed;
    z-index: 99;
    width: calc(100% - 240px);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    background-color: transparent;

    .navbar-search {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;

        .navigate-search {
            position: relative;
            flex: 1;
            display: flex;
            align-items: center;

            .navigate {
                width: 62px;
                display: flex;
                justify-content: space-between;
                margin-right: 22px;

                .navigate-left, .navigate-right {
                    color: #ccc;
                    cursor: pointer;
                    transition: all .3s;

                    &:hover {
                        color: #fff;
                    }
                }
            }

            .search-input-container {
                position: relative;
                flex: 1;

                .search-input {
                    position: inherit;
                    width: 100%;
                    height: 40px;
                    border-radius: 20px;
                    border: none;
                    background-color: rgb(47, 39, 57);
                    padding-left: 40px;
                    color: #fff;
                    z-index: 2;
                    outline: none;
                }

                .input-focus {
                    background-color: #34224F;
                }

                .animation {
                    animation: showResult 0.5s ease .4s forwards;
                }

                .result-search {
                    background-color: #34224F;
                    width: 100%;
                    min-height: 40px;
                    padding-left: 10px;
                    padding-right: 10px;
                    border-radius: 20px;
                    position: absolute;
                    top: 0;
                    z-index: 0;
                    opacity: 0;

                    .result {
                        transition: height 0.5s;

                        .search-result-content {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            color: #fff;
                            padding: 0 10px;
                            margin-bottom: 10px;

                            p {
                                margin-bottom: 0;
                                font-size: x-large;
                                font-weight: 600;
                            }

                            .all-result {
                                color: #fff;
                                font-size: 17px;
                                cursor: pointer;

                                &:hover {
                                    text-decoration: underline;
                                }
                            }
                        }

                        .result-item {
                            display: flex;
                            align-items: center;
                            height: 70px;
                            width: 100%;
                            padding: 10px;
                            border-radius: 5px;
                            transition: all 0.5s;

                            .item-image {
                                display: flex;
                                align-items: center;
                                margin-right: 9px;
                                cursor: pointer;

                                .play-icon {
                                    display: none;
                                    color: #fff;
                                    font-size: 18px;
                                    position: absolute;
                                    left: 39px;
                                }
                                img {
                                    border-radius: 5px;
                                    width: 52px;
                                }

                                &:hover .play-icon {
                                    display: block;
                                }
                            }
                            

                            

                            &:hover {
                                background-color: #493961;
                            }

                            .item-info {
                                flex: 1;

                                .info-name {
                                    margin-bottom: 0;
                                    height: 24px;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                    color: #fff;
                                  }
                                  .info-actor {
                                    margin-bottom: 0;
                                    font-size: 12px;
                                    color: #87838d;
                                  }
                            }

                            .item-option-container {
                                position: relative;
                                display: none;

                                .show-option {
                                    display: none;
                                    position: absolute;
                                    background-color: #34224F;
                                    color: #fff;
                                    text-align: center;
                                    width: 130px;
                                    padding: 10px;
                                    border-radius: 5px;
                                    top: 0;
                                    left: 40px;
                                    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                                    cursor: pointer;
                                }

                                .item-option {
                                    width: 40px;
                                    height: 40px;
                                    text-align: center;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    border-radius: 50%;
                                    cursor: pointer;
    
                                    &:hover {
                                        background-color: #695C7C;
                                    }
    
                                    .option {
                                        color: #fff;
                                    }
                                }
                                .active {
                                    display: block;
                                }
                            }

                            

                            &:hover .item-option-container {
                                display: block;
                            }
                        }
                        .no-result {
                            color: #fff;
                            margin: 0 10px;
                        }
                    }
                }
                .search-icon {
                    position: absolute;
                    z-index: 2;
                    left: 10px;
                    top: 10px;
                }
            }

            svg {
                font-size: 20px;
            }
        }

        >.user-icon {
            font-size: 17px;
            background-color: #ccc;
            height: 38px;
            width: 38px;
            text-align: center;
            line-height: 38px;
            border-radius: 50%;
            cursor: pointer;

            svg {
                color: #5C5765;
                cursor: pointer;
            }
        }
    }
}

@keyframes showResult {
    to {
        padding-top: 50px;
        padding-bottom: 10px;
        opacity: 1;
    }
}