.nav-top-container {
    margin-left: 240px;
    height: 70px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    width: calc(100% - 240px);
    background-color: rgba(23,15,35,0.8);
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(50px);
    box-shadow: 0 3px 5px rgba(0,0,0,0.1);

    .navbar-search {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;

        .navigate-search {
            position: relative;
            flex: 1;
            display: flex;
            align-items: center;

            .navigate {
                width: 62px;
                display: flex;
                justify-content: space-between;
                margin-right: 22px;

                .navigate-left, .navigate-right {
                    color: #ccc;
                    cursor: pointer;
                    transition: all .3s;

                    &:hover {
                        color: #fff;
                    }
                }
            }

            .search-input-container {
                position: relative;
                flex: 1;

                .search-input {
                    position: inherit;
                    width: 100%;
                    height: 40px;
                    border-radius: 20px;
                    border: none;
                    background-color: rgb(47, 39, 57);
                    padding-left: 40px;
                    color: #fff;
                    z-index: 2;
                    outline: none;
                }

                .input-focus {
                    background-color: #34224F;
                }

                .animation {
                    animation: showResult 0.5s ease .4s forwards;
                }

                .result-search {
                    background-color: #34224F;
                    width: 100%;
                    min-height: 40px;
                    padding-left: 10px;
                    padding-right: 10px;
                    border-radius: 20px;
                    position: absolute;
                    top: 0;
                    z-index: 0;
                    opacity: 0;

                    .result {
                        transition: height 0.5s;

                        .search-result-content {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            color: #fff;
                            padding: 0 10px;
                            margin-bottom: 10px;

                            p {
                                margin-bottom: 0;
                                font-size: x-large;
                                font-weight: 600;
                            }

                            .all-result {
                                color: #fff;
                                font-size: 17px;
                                cursor: pointer;

                                &:hover {
                                    text-decoration: underline;
                                }
                            }
                        }
                        
                        .no-result {
                            color: #fff;
                            margin: 0 10px;
                        }
                    }
                }
                .search-icon {
                    position: absolute;
                    z-index: 2;
                    left: 10px;
                    top: 10px;
                }
            }

            svg {
                font-size: 20px;
            }
        }

        >.user-icon {
            font-size: 17px;
            background-color: #ccc;
            height: 38px;
            width: 38px;
            text-align: center;
            line-height: 38px;
            border-radius: 50%;
            cursor: pointer;

            svg {
                color: #5C5765;
                cursor: pointer;
            }
        }

        .border-vip {
            border: 3px solid #DCA519;
            width: 41px;
            height: 41px;
        }
    }
}

@keyframes showResult {
    to {
        padding-top: 50px;
        padding-bottom: 10px;
        opacity: 1;
    }
}