@import '~bootstrap/scss/bootstrap';
@import '../../styles/variable.scss';

.login-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    .zing-content {
        text-align: center;
        height: 100%;
        position: inherit;
        top: 0;
    }

    .form-container {
        background-color: $background-basic;
        padding: 10px 10px 50px;
        margin: auto;
        margin-left: 0;
        text-align: center;
    }
}

.fg-pw {
    color: #fff;
    text-decoration: none;
    margin-bottom: 15px;
    text-align: left;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}

.create-account {
    text-decoration: none;
    color: #fff;

    &:hover {
        text-decoration: underline;
    }
}

@media (min-width: $breakpoint-tablet) {
    .login-container {
        .zing-content {
            top: 110px;
        }
    }
}

@media (min-width: $breakpoint-tablet) {
    .login-container {
        align-items: normal;
    }
}